@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --orange: #ff7a48;
  --black: #151f30;
  --black-25: #151f3034;
  --black-10: #151f301a;
  --white: #dee2f2;
  --white-25: #dee2f234;
  --white-10: #dee2f21a;
  --dark-blue: #103778;
  --light-blue: #0575a2;
  --accent: var(--orange);
  --background: var(--black);
  --background-25: var(--black-25);
  --background-10: var(--black-10);
  --primary: var(--dark-blue);
  --secondary: var(--light-blue);
  --text: var(--white);
  --text-25: var(--white-25);
  --text-10: var(--white-10);
  --easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
}

body[data-theme=Dark] {
  /* colors */
  --accent: var(--orange);
  --background: var(--black);
  --background-25: var(--black-25);
  --background-10: var(--black-10);
  --primary: var(--dark-blue);
  --secondary: var(--light-blue);
  --text: var(--white);
  --text-25: var(--white-25);
  --text-10: var(--white-10);
}
body[data-theme=Dark] a {
  color: var(--light-blue);
}

body[data-theme=Light] {
  /* colors */
  --background: var(--white);
  --background-25: var(--white-25);
  --background-10: var(--white-10);
  --text: var(--black);
  --text-25: var(--black-25);
  --text-10: var(--black-10);
}

a {
  color: var(--dark-blue);
}

body,
html {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
  font-size: 16pt;
  scroll-behavior: smooth;
}

* {
  font-style: normal;
  line-height: 130%;
}

span {
  color: var(--accent);
}

.git-icon {
  width: 1em;
  height: 1em;
  content: url("../img/Icons/Github/github-mark-white.svg");
}

.switch {
  margin-inline: auto 0;
}

.toggle {
  width: 0;
  height: 0;
}
.toggle + .slider {
  transition: all 0.2s;
  display: inline-block;
  width: 4ch;
  height: 2ch;
  border-radius: 2ch;
  border: solid 3px var(--text);
  background-color: var(--primary);
  position: relative;
}
.toggle + .slider::before {
  content: "";
  position: absolute;
  transition: inherit;
  left: 0;
  top: 0;
  height: 2ch;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--background);
}
.toggle:checked + .slider {
  background-color: var(--light-blue);
  border-color: var(--white);
}
.toggle:checked + .slider::before {
  background-color: var(--orange);
  left: 50%;
}

nav {
  color: var(--text);
  font-family: Urbanist;
  position: fixed;
  top: 0;
  width: 95%;
  margin-inline: 50px;
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 900;
  letter-spacing: 0.35px;
}
nav #path {
  display: inline;
  text-decoration: underline;
  mix-blend-mode: normal;
}
nav .flashing {
  width: 1ch;
  background-color: var(--accent);
  display: inline-block;
  color: var(--accent);
  animation: flashing 1.5s ease-in-out infinite;
}
nav .toggle {
  margin-inline: auto 0;
}

header {
  position: relative;
  z-index: 0;
  padding: 0;
  height: 100vh;
  padding-inline: 50px;
}
header::before {
  content: "";
  clear: both;
  position: absolute;
  z-index: -1;
  width: 70%;
  height: 90%;
  left: 0;
  border-radius: 0 0 350px 0;
  background-color: var(--primary);
}
header .title {
  font-size: 18pt;
  margin: auto 0;
  height: -moz-fit-content;
  height: fit-content;
  color: var(--white);
}
header .title .links {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
header .title img {
  aspect-ratio: 1;
  padding-top: 0.5em;
  width: 1.5em;
}
header h1 {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Chakra Petch";
  color: var(--white);
  font-size: 70pt;
  margin-top: 0;
  --shadowWidth: 5px;
  text-shadow: var(--shadowWidth) 0px 0px var(--primary), calc(var(--shadowWidth) * -1) 0px 0px var(--primary), 0px var(--shadowWidth) 0px var(--primary), 0px calc(var(--shadowWidth) * -1) 0px var(--primary);
}
header > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 2fr 1fr;
  -moz-column-gap: 5em;
       column-gap: 5em;
  margin: 0 auto;
}
@media screen and (max-width: 1015px) {
  header > div {
    grid-template-columns: 1fr;
  }
}

.ariane {
  position: fixed;
  top: 50%;
  z-index: 998;
  padding-inline: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.ariane hr {
  width: 35px;
  height: 5px;
  background-color: var(--text);
  transform: translateY(-50%);
  margin: 0;
  transition: all 0.1s ease-in;
  border: none;
  border-radius: 2.5px;
}
.ariane a {
  color: var(--text);
  position: relative;
}
.ariane a span {
  opacity: 0;
  position: absolute;
  left: 125%;
  bottom: 0;
  width: -moz-max-content;
  width: max-content;
}
.ariane a.active span {
  opacity: 1;
}
.ariane a.active hr {
  width: 70px;
  margin-block: 10px;
}
.ariane a:not(.active):hover span {
  opacity: 0.5;
}
.ariane a:not(.active):hover hr {
  width: 45px;
}

.button {
  padding: 0.3em 0.9em;
  color: var(--background);
  background-color: var(--text);
  text-decoration: none;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  border: solid 3px var(--accent);
  border-radius: 5px;
  transition: all 0.25s ease-out;
  font-family: "Urbanist", sans-serif;
}
.button:hover {
  transform: scale(1.05);
}
.button.main {
  background-color: var(--accent);
  color: var(--black);
  box-shadow: inset -2px -2px 5px var(--black-10), inset 5px 5px 5px var(--white-10);
  border: none;
}
.button.main:hover, .button.main:focus-within {
  transform: scale(1.05);
  box-shadow: inset -2px -2px 2px var(--black-10), inset 2px 2px 5px var(--white-10), 1px 1px 5px var(--black-10);
}
.button.main:hover img, .button.main:focus-within img {
  filter: contrast(100%);
}

h2 {
  z-index: 0;
  position: relative;
  margin: 0 auto 3rem auto;
  text-align: center;
  font-size: 40pt;
}
h2::after {
  z-index: 1;
  color: inherit;
  font: inherit;
  content: attr(data-title);
}
h2[data-title]::before {
  content: attr(data-title);
  clear: both;
  position: absolute;
  z-index: 0;
  top: 0;
  color: inherit;
  opacity: 0.1;
  transform: scale(1.75);
  transform-origin: center bottom;
}

section:not(.contact) {
  padding-block: 7rem;
  max-width: min(70ch, 85%);
  margin: 0 auto;
}
section:not(.contact) > p {
  text-align: justify;
}
section:not(.contact) .button {
  margin: 1rem auto;
}

.projets .cardList {
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
@media screen and (max-width: 1111px) {
  .projets .cardList {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 680px) {
  .projets .cardList {
    grid-template-columns: 1fr;
  }
}
.projets h3 {
  margin: 4em auto 2em auto;
}
.projets .card {
  display: block;
  text-decoration: none;
  --card-clr: var(--light-blue);
  --card2-clr: var(--dark-blue);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: var(--white);
  background-image: linear-gradient(45deg, var(--card-clr), var(--card2-clr));
  transition: all 0.5s var(--easeOutBack);
  transform-origin: center;
  box-shadow: 5px 5px 15px var(--drop-clr);
}
.projets .card:hover, .projets .card:focus-within {
  transform: scale(1.05) rotate(2deg);
  box-shadow: 10px 15px 15px var(--drop-clr);
}
.projets .card:hover img, .projets .card:focus-within img {
  filter: contrast(100%);
}
.projets .card img {
  background-color: var(--black);
  border-radius: 5px;
  aspect-ratio: 16/9;
  width: 100%;
  overflow: hidden;
  max-height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
  filter: contrast(75%);
  transition: filter 0.25s ease-out;
  -webkit-mask: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(255, 255, 255) 100%);
          mask: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(255, 255, 255) 100%);
}
.projets .card .data {
  width: 100%;
  display: flex;
  margin-top: auto;
  padding-top: 1em;
  gap: 1em;
}
.projets .card .data time {
  color: var(--white);
  opacity: 0.75;
  margin-right: auto;
}
.projets .card .data a {
  font-size: 1.25em;
  text-decoration: none;
  transition: transform 0.75s var(--easeOutBack);
}
.projets .card .data a:hover {
  transform: rotate(360deg);
}
.projets .card p {
  width: 100%;
  max-width: 100%;
  margin: 0;
  font-size: 1rem;
}
.projets .card span {
  color: white;
}
.projets .card[data-project=GHVRC] {
  --card-clr: hsl(130, 93%, 35%);
  --card2-clr: hsl(160, 93%, 35%);
  --drop-clr: hsla(130, 93%, 35%, 0.5);
}
.projets .card[data-project=HotelNeptune] {
  --card-clr: hsl(214, 80%, 43%);
  --card2-clr: hsl(184, 80%, 43%);
  --drop-clr: hsla(214, 80%, 43%, 0.5);
}
.projets .card[data-project=GHVR] {
  --card-clr: hsl(344, 96%, 33%);
  --card2-clr: hsl(374, 96%, 33%);
  --drop-clr: hsla(344, 96%, 33%, 0.5);
}
.projets .card[data-project=ListenPass] {
  --card-clr: hsl(231, 64%, 43%);
  --card2-clr: hsl(201, 64%, 43%);
  --drop-clr: hsla(231, 64%, 43%, 0.5);
}
.projets .card[data-project=BatailleNavale] {
  --card-clr: hsl(214, 64%, 43%);
  --card2-clr: hsl(234, 64%, 43%);
  --drop-clr: hsla(214, 64%, 43%, 0.5);
}
.projets .card[data-project=Travelly] {
  --card-clr: hsl(234, 64%, 43%);
  --card2-clr: hsl(199, 72%, 58%);
  --drop-clr: hsla(234, 64%, 43%, 0.5);
}
.projets .card[data-project=HPAEDE] {
  --card-clr: hsl(12, 27%, 18%);
  --card2-clr: hsl(31, 49%, 25%);
  --drop-clr: hsla(12, 27%, 18%, 0.5);
}
.projets .card[data-project=BM2] {
  --card-clr: hsl(210, 11%, 15%);
  --card2-clr: hsl(220, 11%, 17%);
  --drop-clr: hsla(210, 11%, 15%, 0.5);
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25em;
}
.tags span {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  font-weight: 500;
  color: var(--text);
  padding: 0.1em 0.25em;
}
.tags span.perso {
  outline: 2px var(--light-blue);
}

.parcours {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
}
.parcours .parcour {
  min-width: 400px;
  max-width: min(30ch, 35%);
  margin-bottom: 5rem;
  flex: 1 1 0px;
}
.parcours .etape {
  position: relative;
  transform: translateX(50px);
  padding-block-end: 2em;
}
.parcours .etape p {
  margin: 0;
}
.parcours .etape::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 10px;
  height: 150%;
  border-radius: 5px;
  background: linear-gradient(to bottom, var(--primary), var(--text));
  transform: translateX(50%);
}
.parcours .etape::after {
  content: "";
  position: absolute;
  left: -55px;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--background);
  border: solid 7.5px var(--secondary);
}

.competences {
  margin-inline: auto;
}
.competences .competencesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}
@media screen and (max-width: 1200px) {
  .competences .competencesGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.competences .competence {
  align-self: self-end;
}
.competences .competence img {
  display: block;
  margin: 0 auto;
  max-width: 150px;
}
.competences .competence p {
  text-align: center;
}
.competences h3 {
  margin-block: 3rem 1.5rem;
}

.veilles {
  margin: 0 auto;
}
.veilles h3 {
  margin-top: 4rem;
}

.veille {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
  background-color: var(--text-10);
  color: var(--text);
}

.contact {
  padding-block: 5em;
  background-color: var(--text-10);
}
.contact form {
  max-width: min(30ch, 35%);
  margin: 0 auto;
}
.contact form > * {
  margin-block: 0.5rem;
}
.contact form label {
  margin-right: 0.5rem;
}
.contact form input,
.contact form textarea {
  border: none;
  border-radius: 10px;
  background-color: var(--background);
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}
.contact form .button {
  margin-left: 0;
  font-size: inherit;
}
.contact form h3 {
  margin-block: 2rem 1rem;
}

footer {
  padding: 3rem;
  background-color: var(--black);
  border-top: solid 5px var(--light-blue);
  color: var(--white);
}

@keyframes flashing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}